---
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import Icon from "@components/ui/icons/Icon.astro";
import SectionHeading from "@components/ui/typography/SectionHeading.astro";
import SubHeading from "@components/ui/typography/SubHeading.astro";

const steps = [
  { title: "Fill onboarding request", step: "I" },
  { title: "Send onboarding request", step: "II" },
  { title: "Our team will contact you", step: "III" },
  { title: "Finalize onboarding with details", step: "IV" },
];
---

<section class="bg-neutral-50 py-20 sm:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <SectionHeading>
        Ready to take a full swing?
      </SectionHeading>
      <p class="mt-4 text-lg text-neutral-600 font-semibold">
        Fill out the form and start invoicing
      </p>
    </div>

    <div
      class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 lg:max-w-none lg:grid-cols-3"
    >
      <!-- Retailer Onboarding -->
      <div
        class="flex flex-col rounded-lg bg-white border border-[#7CA02F] px-8 py-12"
      >
        <SubHeading variant="default" class="text-center text-[32px] mb-[30px]">
          <span class="text-[40px] leading-[1.3em]">Retailer</span> onboarding
        </SubHeading>
        <p class="text-base text-neutral-600 lg:min-h-[200px] flex items-center">
          Start your self-setup process with ease. Fill out what you know – if any information is missing, we'll reach out to you for additional details. You can still submit the form. <br>Our team is ready to assist you throughout the onboarding journey.
        </p>
        <div class="mt-auto text-center">
          <PrimaryCTA
            url="https://signup.invoicecaddy.io"
            title="Sign Up"
            variant="big"
          />
        </div>
      </div>

      <!-- Partner Onboarding -->
      <div
        class="flex flex-col rounded-lg bg-white border border-[#7CA02F] px-8 py-12"
      >
        <SubHeading variant="default" class="text-center text-[32px] mb-[30px]">
          <span class="text-[40px] leading-[1.3em]">Partner</span> onboarding
        </SubHeading>
        <p class="text-base text-neutral-600 lg:min-h-[200px] flex items-center">
          We'll redirect you to a specialized form designed for major financial players. There, you can complete the onboarding process independently. Let us tailor our platform to match your business needs.
        </p>
        <div class="mt-auto text-center">
          <PrimaryCTA
            url="https://signup.invoicecaddy.io/partner/"
            title="Become a Partner"
            variant="big"
          />
        </div>
      </div>

      <!-- Enterprise Onboarding -->
      <div
        class="flex flex-col rounded-lg bg-white border border-[#7CA02F] px-8 py-12"
      >
        <SubHeading variant="default" class="text-center text-[32px] mb-[30px]">
          <span class="text-[40px] leading-[1.3em]">Enterprise</span> onboarding
        </SubHeading>
        <p class="text-base text-neutral-600 lg:min-h-[200px] flex items-center">
          If you are a super ISO, large bank, or other large prospective partner and are interested in offering Invoice Caddy to your client base, please let us know! <br>We'll be happy to talk to you and explore what custom solutions and pricing arrangements we can develop together.
        </p>
        <div class="mt-auto text-center">
          <PrimaryCTA
            url="https://signup.invoicecaddy.io/enterprise/"
            title="Let's Talk"
            variant="big"
          />
        </div>
      </div>
    </div>

    <!-- Onboarding Steps -->
    <div
      class="mt-16 grid grid-cols-1 gap-y-10 text-center md:grid-cols-4 md:gap-x-8"
    >
      {
        steps.map((step, index) => (
          <div class="flex items-center justify-center gap-4 md:flex-col md:gap-2">
            <div class="flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-sky-500 text-white">
              <span class="font-bold">{step.step}</span>
            </div>
            <p class="font-semibold text-neutral-700 md:mt-4">
              {step.title}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section> 