---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <div class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <h1 class="text-3xl font-bold">Demo</h1>
    <p class="mt-4">This page is under construction.</p>
  </div>
</MainLayout> 